In [27]:
import json

with open('AAPL_news_09-19.json') as json_file:
    data = json.load(json_file)

In [28]:
from textblob import TextBlob
import numpy as np
import pandas as pd

In [10]:
import yfinance as yf
financial_data = yf.download("AAPL", start="2009-12-30", end="2019-12-31")

[*********************100%***********************]  1 of 1 completed

In [108]:
# -*- coding: utf-8 -*-
import time
from datetime import datetime, timedelta
import unicodedata
time_index = list(financial_data.index)
score = {}
des_score = {}
for time in time_index:
    yesterday = (time - timedelta(days=1)).strftime("%m/%d/%Y")
    if(yesterday in data):
        num_news = len(data[yesterday])
        sentiment = 0
        des_sentiment = 0
        #print(yesterday, ', ', num_news)
        for news in data[yesterday]:
            news_title = news['news_title'].replace('...', '')
            news_des = news['news_text'].encode("ascii", "ignore").decode("ascii").replace('...', '')
            blob = TextBlob(news_title)
            des_blob = TextBlob(news_des)
            sentiment += blob.sentiment.polarity
            des_sentiment += des_blob.sentiment.polarity
            #print('Title: ', news_title, ', ',blob.sentiment.polarity)
            #print('Description: ', news_des, ', ', des_blob.sentiment.polarity)
        score[time] = sentiment / num_news
        des_score[time] = des_sentiment / num_news
        #print()
    else:
        score[time] = 0.0
        des_score[time] = 0.0

In [97]:
des_score_series = pd.Series(des_score)
des_score_series.name = "news_des_score"
title_score_series = pd.Series(score)
title_score_series.name = "news_title_score"

In [98]:
all_features = financial_data.join([title_score_series, des_score_series])

In [99]:
all_features

,Open,High,Low,Close,Adj Close,Volume,news_title_score,news_des_score
Date,,,,,,,,
2009-12-29,30.375713,30.388571,29.818571,29.871429,25.929619,111301400,0.000000,0.318182
2009-12-30,29.832857,30.285715,29.758572,30.234285,26.244589,103021100,-0.200000,0.500000
2009-12-31,30.447144,30.478571,30.080000,30.104286,26.131752,88102700,0.500000,0.066667
2010-01-04,30.490000,30.642857,30.340000,30.572857,26.538483,123432400,0.000000,0.000000
2010-01-05,30.657143,30.798571,30.464285,30.625713,26.584366,150476200,0.000000,0.250000
...,...,...,...,...,...,...,...,...
2019-12-23,280.529999,284.250000,280.369995,284.000000,283.327576,24643000,-0.055556,0.016667
2019-12-24,284.690002,284.890015,282.920013,284.269989,283.596924,12119700,0.047500,0.156214
2019-12-26,284.820007,289.980011,284.700012,289.910004,289.223602,23280300,0.275000,0.118333
2019-12-27,291.119995,293.970001,288.119995,289.799988,289.113831,36566500,0.254000,0.159770
2019-12-30,289.459991,292.690002,285.220001,291.519989,290.829773,36028600,0.176667,0.307778

In [93]:
data['01/04/2010']

[{'news_title': "Explaining Apple's Valuation to the Media",
  'news_link': 'https://seekingalpha.com/article/180688-explaining-apples-valuation-to-the-media',
  'news_text': "The topic was Apple (AAPL), and the prospects for Apple's stock with all of the buzz surrounding the rumored iTablet. Phil Cusick CNBC hosts Simon Hobbs and\xa0...",
  'news_from': 'Seeking Alpha (blog)',
  'time_created': '4 Jan 2010'},
 {'news_title': "Positioning into 2010 as We Look Back at Q1'09",
  'news_link': 'https://seekingalpha.com/article/180620-positioning-into-2010-as-we-look-back-at-q109',
  'news_text': '... (NASDAQ:AAPL) at $89, American Express (NYSE:AXP) at $19.64, Boeing (NYSE:BA) at $39.88, Best Buy (NYSE:BBY) at $19, Peabody Energy (NYSE:BTU)\xa0...',
  'news_from': 'Seeking Alpha (blog)',
  'time_created': '4 Jan 2010'},
 {'news_title': 'Exclusive: Apple to Buy Quattro Wireless for $275 Million',
  'news_link': 'http://allthingsd.com/20100104/exclusive-apple-to-buy-quattro-wireless-for-275-million/',
  'news_text': "... (GOOG) recently forked over an astonishing $750 million for Silicon Valley's AdMob, a Quattro competitor, which Apple (AAPL) had also made a bid to acquire.",
  'news_from': 'All Things Digital (blog)',
  'time_created': '4 Jan 2010'}]